body {
  background: url(./images/codescreen.jpg) center/cover fixed;
}

ul {
  padding:0;
}

.gradient {
    border-radius: 8px;
}

.fa {
  cursor: pointer;
  padding-left: 3px;
}
.card-img-top {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

main {
  max-width: 500px;
  margin: 0 auto;
  background-size: cover;
  background-color: whitesmoke;
  text-align: center;
}

form {
  width: 100%; 
  margin: 0 auto !important;
}

li {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

li b {
  width: 100%;
}

.bot {
  text-align: left;
}

.person {
  text-align: right;
}


div#wave {
  position: relative;
  text-align: left;

  margin-left: auto;
  margin-right: auto;
}
div#wave .dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 3px;
  background: #303131;
  animation: wave 1.3s linear infinite;
}
div#wave .dot:nth-child(2) {
  animation-delay: -1.1s;
}
div#wave .dot:nth-child(3) {
  animation-delay: -0.9s;
}

@keyframes wave {
  0%, 60%, 100% {
    transform: initial;
    opacity: 0.6;
  }
  30% {
    transform: translateY(-9px);
    opacity: 1;
  }
}

.warning {
  border: 3px solid red;
}

.col {
  display: flex;
  flex-direction: column;
}

.hide {
  display: none;
}

#delete-btn {
  color: #fff;
  background: red;
  border-radius: 50%;
  font-size: .7rem;
  padding: 3px 4px;
  cursor: pointer;
  outline: none;
}